*{

}

header{
    width: 100%;
    height: 100px;
    background-color:#033048;
    
}
h1{
    padding-left:100px;
    padding-right: 40px;
    padding-top: 12px;
    font-size: 50px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #f0efef;
}
nav{
    padding: 30px;
    padding-top: 40;
    text-align: center;
}
a{
    color: #f9e42e;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.na{
    padding: 10px;
}
a:hover{
    color:rgba(255, 110, 200, 1);
}
.middle{
    width:100%;
}
section{
    width: 700;
    margin-left: 125px;
    margin-top: 100px;
}
img{
    margin-top: 10px;
    widows: 500px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    width: 700px;
}
p{
    font-size: 20px;
    width: 700px;
    font-family: 'Open Sans', sans-serif;
}
p::first-letter{
    font-size: 60px;
    font-weight: 700;
    margin-top: 00px;
    color: gray;
    float: left;
    padding: 10px;
}
aside{
    margin-top: 100px;
    float: right;
    margin-right: 300px;
    

}
a.more{
    font-size: 24px;
    color: #033048;
    font-weight: 600;
    text-align: right;
    display: block;
}
.more:hover{
    color: red;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
section{
    float: left;
}
.sd{
    color: black;

}